<!--Construction de ma page

-La page de titre
-La page de remerciement
-Le Table of Content
-Le reste du manuel
-->


<div class="container title"> <%= partial "partials/title" %> </div>

    <div class="container thanks"> <%= partial "partials/thanks" %> </div>
    
    <div class="container notice"> <%= partial "partials/notice" %> </div>

    <div class="container contents"> <%= partial "partials/toc" %> </div>
    
    <div class="container manual"> <%= all_chapters() %> </div>